body {
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
}

[type = "submit"] {
	width: 100%;
}
form{
	margin: 25px;
	padding: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 30px -6px #000;
    border-radius: 15px;
    border: 1px solid black;
}
 #cuenta{
 	cursor: pointer;
 	text-decoration-line: none;
 	text-align: center;
 	 }

 #cuenta:hover{
 	text-decoration-line: underline;
 	color: blue;
 }

 h5{
 	text-align: center;
 }
 h2{
 	text-align: center;
 }
